.App {
  text-align: center;
}

.search-box input{
  font-size: 1rem;
  padding: 5px;
}
.loading{
  position: relative;
  padding: 10px 0;
}

table thead{
  background: #f1f1f1;
}
table tr:nth-child(even){
  background: #f1f1f1;
}

table thead td,tbody td{
 
  padding: 5px;
  font-size: 1rem;
}